{% extends 'base.html'%}

{% block title %}
    <title>Form</title>
{% endblock %}

{% block content %}
<h1>
    Addition Form
</h1>
    <form id="form" action="{{url_for('additionform')}}" method="post">
        <div class="input-control">
            <label for="num1">Number 1:</label>
            <input id="num1" required name="num1">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="num2">Number 2:</label>
            <input id="num2" required name="num2">
            <div class="error"></div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <script src="{{url_for('static', filename='additionFormValidation.js')}}">
    </script>
{% endblock %}