{% extends 'base.html'%}

{% block title %}
    <title>Counter</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="border border-primary text-center p-3">
            <h1>Counter</h1>
            <button class="btn btn-block btn-primary" id="minus">-</button>
            <h2 style="display: inline;" id="num">0</h2>
            <button class="btn btn-block btn-secondary" id="plus">+</button>
        </div>
    </div>
    <script src="{{url_for('static', filename='code.js')}}">
    </script>
{% endblock %}